<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

    <div>
        <h3>Titan Name</h3>
        <ul>
            <li>Character</li>
            <li>Special</li>
            <li>height</li>
        </ul>
    </div>

    <button id="headsButton" type="button">heads</button>
    <button id="tailsButton" type="button">tails</button>
    <button id="playButton" type="button">play</button>


    <script src="../public/js/main.js"></script>
</body>
</html>